
<body>

<p>
  <h1>Education Background </h1>


  <table border ="1">
      <tr>

          <th>High School</th>
          <th>subjects</th>
      </tr>
      <tr>

          <td>Epp Mhinga Secondary </td>
          <ul>
              <td>
                  <li>Xitsonga</li>
                  <li>English</li>
                  <li>Physical Sciences</li>
                  <li>Mathematics</li>
                  <li>Life Sciences</li>
                  <li>Geography</li>
                  <li>Life Orientation </li>

              </td>

          </ul>
      </tr>
  </table >
  <h1>Tertiary Background </h1>
  <table border = "2">

      <tr>

          <th>Tertiary/ University</th>
          <th>Modules</th>
      </tr>
      <tr>

          <td> Damelin College</td>
          
              <td><ol>
                  <li>Programing</li>
                  <li>Networking</li>
                  <li>Web development</li>
                  <li>Information system</li>
                  <li>End Users</li>
                  <li>Advanced Pc</li>
                  <li>Project Management</li>

              </ol></td>

          
      </tr>






  </table>


</body>


<div class="footer">
  <p>Created by Penvah</p>
</div>



